<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Km ratio</ion-label>
        <ion-input formControlName="kmRatio" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="!editProfileForm.valid">Save</ion-button>
  </form>
</ion-content>
